<%- include header2 %>
<div style="overflow:hidden;height:40px;">
        <!-- 作者头像 -->
        <img class="author_icon _border ml" src="<%= post.head %>">
        <div class="author_info">
          <!-- 作者 -->
          <p class="author" href="/u/<%= post.name %>"><%= post.name %></p>
          <!-- 时间 -->
          <p class="time"><%= post.time.minute %></p> 
        </div>
      </div>
<!-- 帖子内容 -->
<div class="post article_post"><%- post.post %></div>
<h2 class="right_border"></h2>
<!-- 点赞和评论数 -->
<div class="pic_active mtop">
	<div class="comment fr">
		<img src="/images/comment.png">
		<span><%= post.comments.length %></span>
	</div>
	<div class="praise fr">
		<img src="/images/zan_before.png">
		<span><%= post.zan.length %></span>
	</div>
</div>
<h2 class="right_border"></h2>
<%- include comment %>
<%- include footer2 %>