<%- include header2 %>
<p>
  <% if (user && (user.name == post.name)) { %>
   <!--  <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span> -->
  <% } %>
  <% var flag = 1 %>
  <% if (user && (user.name != post.name)) { %>
    <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
      <% flag = 0 %>
    <% } %>
    <% if ((post.reprint_info.reprint_to != undefined)) { %>
      <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
        <% if (user.name == reprint_to.name) { %>
          <% flag = 0 %>
        <% } %>
      <% }) %>
    <% } %>
  <% } else { %>
    <% flag = 0 %>
  <% } %>
  <% if (flag) { %>
    <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
  <% } %>
</p>
<div style="overflow:hidden;height:40px;">
        <!-- 作者头像 -->
        <img class="author_icon" src="/images/lufei.jpg">
        <div class="author_info">
          <!-- 作者 -->
          <p class="author" href="/u/<%= post.name %>"><%= post.name %></p>
          <!-- 时间 -->
          <p class="time"><%= post.time.minute %></p> 
        </div>
      </div>
<!-- 帖子内容 -->
<div class="post article_post"><%- post.post %></div>
<%- include comment %>
<%- include footer %>