<%- include header1 %>
<% posts.forEach(function (post, index) { %>
  <div class="item">
    <div class="info_header">
      <div style="float:left;overflow:hidden;height:40px;">
        <!-- 作者头像 -->
        <img class="author_icon" src="/images/lufei.jpg">
        <div class="author_info">
          <!-- 作者 -->
          <p class="author" href="/u/<%= post.name %>"><%= post.name %></p>
          <!-- 时间 -->
          <p class="time"><%= post.time.minute %></p> 
        </div>
      </div>
      <!-- 评论图标 -->
      <img class="icon" src="/images/lufei.jpg" onClick="window.location.href='/u/<%= activityId %>/<%= post.name %>/<%= post.time.minute %>'">
      <%console.log("minute="+post.time.minute)%>
      <!-- 点赞图标 -->
      <img class="icon" src="/images/lufei.jpg">
    </div>
    <!-- 帖子内容 -->
    <div class="post"><%- post.post %></div>
    <!-- 显示一条评论 -->
    <p class="one_comment"><% post.comments.forEach(function (comment, index) { %>
        <% if (comment) { %>
            <%if(index==0){%>
              <%=comment.name%>：<%=comment.content%>
            <%}%>
        <% } %>
      <% }) %></p>
    <!-- 更多评论 -->
    <p class="more_comments">
      <%if(post.comments.length>1){%>
      更多
      <%=post.comments.length-1%>  
      条回复
      <%}%>
    </p>
  </div>
  <% }) %>
<%- include paging %>
<script>
  var commentJson = '<%= commentJson %>';
  var eleLength = '<%= eleLength %>';
  var commentJsonArray = commentJson.split(",");
  var eleLengthArray = eleLength.split(",");
</script>
<%- include footer %>
